body {
    font-family: Arial, sans-serif;
    background-color: #884ba0;
    align-items: center;
}

.container {
    max-width: 437px;
    margin: 190px auto;
    padding: 12px;
    background-color: #fff;
    border-radius: 85px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


h1 {
    color: #333;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 97%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resultContainer {
    display: none;
    margin-top: 20px;
}

#caption {
    color: #333;
}


/* Media queries for responsiveness */
@media (max-width: 768px) {
    /* Adjust styles for screens up to 768px wide */
    .container {
        padding: 10px;
    }

    input[type="text"] {
        padding: 8px;
    }

    button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    /* Adjust styles for screens up to 480px wide */
    .container {
        max-width: 90%;
    }
}
